/* 

Author: Kaushik Raj
Project: Randomizer Website

*/

/* Project Hacks */

/* BOX MODEL HACK */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* clear fix */
.clear:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

/* General Styles */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
     background: url('../images/bg.jpg');
	line-height: 1.4;
	color: #000000; 
     text-align: center;
}

h1, h2, h3 {
	padding: 10px 0 10px 0;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size: 22px;
}

button {
     margin-top: 50px;
     width: 100%;
     background: none;
     border: none;
     color: white;
     font-family: 'Syne Mono', monospace;
}

img {
     display: block;
     margin: 60px auto 0 auto;
     width: 100%;
}

/*
* For Large(Desktop) Screen devices
*/

@media only screen and (min-width: 700px) {

     button {
          margin-top: 70px;
          width: 60%;
     }     
     
     img {
          width: 60%;
	  margin: 40px auto 0 auto;
          border-radius: 15px;
     }
     
}
